# Proyecto del Día 7 - Analizador de Ventas

### Objetivo
Crear un programa en Python que analice un conjunto de **datos de ventas de una tienda**. El programa debe realizar varias operaciones de Data Science para proporcionar información valiosa sobre las ventas de la tienda.

### Consigna

1. **Lectura de Datos**: Crea un DataFrame que contenga los datos provistos en el archivo **Datos_Ventas_Tienda.csv** provisto en esta lección. El archivo incluirá información como *fecha de venta*, *categoría de producto*, *cantidad vendida* y *precio*.
2. **Fusión de Datos**: Crea un segundo DataFrame que contenga los datos del archivo **Datos_Ventas_Tienda2.csv** (también provisto en esta lección), y concaténalos para tener un solo dataFrame con toda la información.

3. **Tratamiento de Datos**: Utiliza Pandas para manipular estos datos. Deberás realizar tareas como limpieza de datos, filtrado y  transformaciones básicas.
4. **Análisis de Ventas**: Realiza análisis para responder preguntas como:
- ¿Cuál es el producto más vendido?
- ¿Cuál es el mes con más ventas?
5. **Datos Agrupados**: Agrupa los datos por categoría de producto y analiza las ventas por categoría.
6. **Guardar Resultados**: Al final, guarda el DataFrame completo (incluyendo la columna de meses) en un archivo .csv en tu ordenador.

In [3]:
import pandas as pd
import numpy as np

ventas1 = pd.read_csv('C:/Users/Pablo/Documents/Cursos UDEMY/Curso_Python-DS-ML/Curso_Python-DS-ML/Día7-Pandas-p2/Datos_Ventas_Tienda.csv')
ventas2 = pd.read_csv('C:/Users/Pablo/Documents/Cursos UDEMY/Curso_Python-DS-ML/Curso_Python-DS-ML/Día7-Pandas-p2/Datos_Ventas_Tienda2.csv')

In [10]:
ventas = pd.concat([ventas1,ventas2])
ventas.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1050 entries, 0 to 49
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Fecha            1050 non-null   object
 1   Producto         1050 non-null   object
 2   Cantidad         1050 non-null   int64
 3   Precio Unitario  1050 non-null   int64
 4   Total Venta      1050 non-null   int64
dtypes: int64(3), object(2)
memory usage: 49.2+ KB

In [11]:
ventas.head()

       Fecha    Producto  Cantidad  Precio Unitario  Total Venta
0  1/17/2023  Electrónic         7              200         1400
1   9/1/2023  Electrónic         8              200         1600
2  7/29/2023    Juguetes         3               30           90
3  10/4/2023   Alimentos         4               10           40
4  2/28/2023  Electrónic         6              200         1200

In [14]:
ventas['Fecha'] = pd.to_datetime(ventas['Fecha'], format= '%m/%d/%Y')
ventas.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1050 entries, 0 to 49
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Fecha            1050 non-null   datetime64[ns]
 1   Producto         1050 non-null   object
 2   Cantidad         1050 non-null   int64
 3   Precio Unitario  1050 non-null   int64
 4   Total Venta      1050 non-null   int64
dtypes: datetime64[ns](1), int64(3), object(1)
memory usage: 49.2+ KB

In [23]:
# Producto mas vendido 
ventas.groupby('Producto')['Cantidad'].sum().sort_values(ascending=False)

Producto
Alimentos     1262
Electrónic    1220
Ropa          1128
Juguetes      1113
Libros        1042
Name: Cantidad, dtype: int64

In [29]:
ventas.groupby(ventas['Fecha'].dt.to_period('M'))['Total Venta'].sum().sort_values(ascending=False)

Fecha
2023-08    45090
2023-01    43030
2023-05    39380
2023-12    33560
2023-06    30520
2023-02    28410
2023-09    27870
2023-07    26350
2023-10    25610
2023-04    23210
2023-03    23200
2023-11    21020
Freq: M, Name: Total Venta, dtype: int64